// CHANGE CONCENT WIDTH
@include large {
    .content-main.grid-xl {
        max-width: 85%;
    }
    .pt-2rem {
        padding: 0 2rem;
    }
  }
  
// SOCIAL MENU
.social-right {
    ul {
        display: flex;
        flex-direction: row; 
    }
}

// DROPDOWN MENU
.basic-nav {
    .drop {
        z-index: 999;
        }
// CHANGE TO NOWRAP        
        .btn-group {
            flex-wrap: nowrap;
        }
}

// STICKY OFF CANVAS MENU
.off-canvas .off-canvas-toggle {
    position: fixed;
}
// BREADCRUMBS
.breadcrumb {
    margin-top: -.5em;
}

// IMG THUMB
.thumb {
    display: flex;
    justify-content: center;
}

// LOGO
.logo img {
    border: 3px solid $transparent;
    transition: $t-out;
    &:hover {
      border: 3px solid $red;
      transform: scale(0.96);
    }
  }
  